@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Raleway", sans-serif;
}

:root {
    --orange: #fc7609;
}

.space {
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link {
    color: #42e7e3;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 53, 53);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #42e7e3;
    border: 1px solid #fdf9f9f0;
    border-radius: 0.25rem;
}


.carousel-item img {
    max-width: 100%;
}